<form [formGroup]="createQuizForm" *ngIf="isSubmitted">
  <mat-card>
    <mat-card-title> Welcome {{ username }}</mat-card-title>
    <mat-card-subtitle>Your target destination is {{ targetDestination }}</mat-card-subtitle>

    <mat-card-subtitle>Your current location is {{ routeData.currentCity }}</mat-card-subtitle>

    <mat-card-content>
      <mat-card-content>{{routeData.question}}</mat-card-content>
    </mat-card-content>
    <mat-radio-group aria-label="Select an option" formControlName="isSelectedTrue">
      <mat-radio-button value="1" >Yes</mat-radio-button>
      <mat-radio-button value="0" >No</mat-radio-button>
      <button mat-button (click)="goToNextCity()">Submit</button>
    </mat-radio-group>
  </mat-card>
</form>
