.container {
  max-width: 640px;
  margin: 10px auto;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #333;
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

button {
  outline: none;
  box-shadow: none;
  max-width: 150px;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
}
